<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 blueColored>iChamp</h1>
  
</div>

<div *ngIf="visible;then evenClicked else oddClicked">This works</div>
<div *ngIf="counter %2; let randomVariable">
  Yes {{randomVariable}}!!!!
</div>


<div *ngIf="myFavLang.frontend; let frontEndLanguages">
  Yes {{frontEndLanguages.join(',')}}!!!!
</div>


<ul *ngFor="let language of myFavLangArray; let even = even;">
  <li *ngIf = "even">{{language.name}} - {{language.type}}</li>
</ul>

<button (click)= "toggleDiv()">Toggle Div</button>


<ng-template #oddClicked>Odd number of clicks</ng-template>
<ng-template #evenClicked>Even number of clicks</ng-template>