<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
  <h1 blueColored>iChamp</h1>
  
</div>

<div *ngIf="visible;then evenClicked else oddClicked">This works</div>
<div *ngIf="counter %2; let randomVariable">
  Yes {{randomVariable}}!!!!
</div>

<table class = "table" style="float : right">
    <tr >
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Experience</th> 
    </tr>
    <tr *ngFor="let language of myFavLangArray;">
      <td>{{language.name}}</td>
      <td>{{language.type}}</td> 
      <td>{{language.name}}</td>
    </tr>
    
  </table>
  <add-details *ngIf="showAddDetails"></add-details>
  <button class="mb10" (click)= "addDeveloperData()">Add Data</button>




<button (click)= "toggleDiv()">Toggle Div</button>


<ng-template #oddClicked>Odd number of clicks</ng-template>
<ng-template #evenClicked>Even number of clicks</ng-template>